.add-service{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.from-group input{
    margin-bottom: 10px;

}

.file-grp{
    margin-top: 50px;
}

.from-group{
    margin-top: 50px;
    width: fit-content;
    box-shadow: 0px 6px 18px -9px rgba(0, 0, 0, 0.75);
}